{% extends "base.html" %}
{% block title %}Editar ficha{% endblock %}
{% block page_title %}Editar ficha{% endblock %}
    {% block content %}
      <div class="card">
        <form method="post">{% csrf_token %}
          {{ form.as_p }}
          <div style="margin-top:12px;">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <a class="btn btn-outline" href="{% url 'usuario-list' %}">Cancelar</a>
          </div>
        </form>
      </div>
    {% endblock %}
</body>
</html>