<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Usuario</title>
</head>
<body>
    <nav>
      <a href="/">Home</a>
      <a href="{% url 'logout' %}">Logout</a>
    </nav>

    <h1>Editar mi ficha</h1>
    <div class="card">
      <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Guardar</button>
      </form>
    </div>
</body>
</html>