{% extends 'base.html' %}
{% block title %}Detalle cliente{% endblock %}
{% block page_title %}Detalle cliente{% endblock %}
{% block content %}
  <div class="card">
    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
    <p><strong>Email:</strong> {{ usuario.email }}</p>
    <div class="divider"></div>
    <a class="btn btn-outline" href="{% url 'gestor-usuario-update' usuario.pk %}">Editar</a>
    <a class="btn btn-danger" href="{% url 'gestor-usuario-delete' usuario.pk %}">Eliminar</a>
  </div>
{% endblock %}